parameters:
    earlyTerminatingMethodCalls:
        Controller:
            - redirect
    universalObjectCratesClasses:
        - ArrayData
        - Config_ForClass
        - DataObject
        - AbstractQueuedJob # symbiote/silverstripe-queuedjobs module support
    excludes_analyse:
        - silverstripe-cache
    ignoreErrors:
        # Temporary until "class_exists" feature is added
        # See here: https://github.com/phpstan/phpstan/issues/323
        - '%Class Site not found%'
        # No SilverStripe support yet
        - '%Call to an undefined method SiteTree::Parent()%'
#includes:
#	- ../vendor/symbiote/silverstripe-phpstan/extension.neon
